nav(class="navigation")
  section(class="container")
    a(class='navigation-title' href="/index.html") Krystian Kowal

    input(type="checkbox" id="menu-toggle")
    label(class="menu-button float-right" for="menu-toggle")
      i(class="fas fa-bars")

    ul(class="navigation-list")
      li(class="navigation-item")
        a(class="navigation-link" href="/about.html") About
      li(class="navigation-item")
        a(class="navigation-link" href="/blog.html") Blog
