extends ../layout/layout.pug

block title
  title About Krystian Kowal

block content
  section(class="container page")
    article
      header
        h1 About

      p Hi! My name is Krystian Kowal. I live in Poland, Wroclaw.

      p I like to create web based applications especially with new technologies. Weekend projects are one of my guilty pleasures. Just think about it - if you can create software - this gives you a lot of freedom. Any missing app or feature? Just write your own :-) I know - it will not be as perfect as app written by whole IT department, but it gives me satisfaction and I can learn something new.

      p My secondary hobby is making scale plastic models. No hurry. The goal is to enjoy the process of making model - not got finished model as soon as possible. So chill and cut out plastic pieces, file them, polish them, glue together, paint with primer, with color and finally with varnish. Then let's create a diorama for finished model. I takes looong time from start to finish (few months). But this is the point - it should relax me - not stress out.
