extends ../layout/layout.pug

block title
  title Posts · Krystian Kowal

block content
  section(class="container list")
    h1 Posts

    ul
      each post in postsData
        li
          span(class="date") #{post.date}
          a(class="title" href=post.postFilename) #{post.postTitle}
