extends ../layout/layout.pug

block title
  title Krystian Kowal

block content
  section(class="container centered")
    div(class="about")
      div(class="avatar")
      h1 Krystian Kowal
      h2 JavaScript Developer

      ul
        li
          a(href="https://github.com/kyczan/" aria-label="Github")
            i(class="fab fa-github" aria-hidden="true")
        li
          a(href="https://www.linkedin.com/in/krisu-kowal/" aria-label="LinkedIn")
            i(class="fab fa-linkedin" aria-hidden="true")
        li
          a(href="https://www.instagram.com/krisu.kowal/" aria-label="Instagram")
            i(class="fab fa-instagram" aria-hidden="true")
        li
          a(href="mailto:krystian@kowal.pro" aria-label="Email")
            i(class="fas fa-envelope" aria-hidden="true")
