doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Language" content="en")
    meta(name="author" content="Krystian Kowal")
    meta(name="description" content="Krystian Kowal&#39;s personal website")
    meta(name="keywords" content="blog,developer,personal")

    link(href="https://fonts.googleapis.com/css?family=Lato:400,700%7CMerriweather:300,700%7CSource+Code+Pro:400,700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" crossorigin="anonymous")
    link(rel="stylesheet" href="style.css" media="screen")
    block title

  body(class='colorscheme-light')
    main(class='wrapper')
      include _header.pug

      div(class="content")
        block content

      include _footer.pug
